div h1 {
	background-color: black;
	color: white;
	border-width: 3px
}

div li {
	background-color: #D33F49;
	font-family: Arial
	font-weight: bold;
	text-align: center;
}

div ol {
	background-color: #D33F49;
	font-family: Arial
	font-weight: bold;
}

p {
	font-weight: bold;

}

* {
	background-color: #77BA99;
}

img {
	width: 8em;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

img:hover {
	background-color: black;
	opacity: .5;
}

/*ul {
    width: 5em;
    height: 100%;
	position: fixed;
	overflow: auto;
    display: block;
    float: left;
    align-content: right;
    background-color: #D33F49;
    margin: right;
    padding-right: 5em;
}
*/
span {
	font-weight: bold;
	background-color: white;
	opacity: .2;
}

