<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-class">
<div class="container">


<!-- Collect the nav links, forms, and other content for toggling -->

  <ul class="nav navbar-nav">
  <li> test </li>

  <li><a href="#">CONTACT</a></li>
  </ul>


  </div>